@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-family: 'Goldman', sans-serif;
  color: rgb(var(--foreground-rgb));
}
.list-parachute{
  list-style-image: url('/svg/parachute.svg') ; 
}
.banner{
  background: url('/Images/banners/4.jpg') no-repeat  center/cover;
}

.tiraSafari{
  background: url('/Images/banners/tira-safari.png') repeat center center/cover;
  background-repeat: repeat-x ;
  animation: translateImage 20s infinite reverse ;
}
@keyframes translateImage {
  0% {
    background-position-x: -100%;
  }
  10% {
    background-position-x: 200%;
  }
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  strong {
    font-family: 'Roboto', sans-serif;
  }
}

.bg-blob{
  background: url('/blob_1.png') no-repeat;
  background-position: center;
}